Django>=5.2,<5.3
django-unfold
Pillow

# Production & Deployment
gunicorn
whitenoise
dj-database-url
psycopg2-binary

# Cloudflare R2 / AWS S3
django-storages[s3]
boto3

# Environment Variables
python-dotenv
