Django==5.2
django-unfold
Pillow
qrcode==8.2
pypdf==6.19.0
reportlab==5.0.1

# Production & Deployment
gunicorn
whitenoise
dj-database-url
psycopg2-binary

# Cloudflare R2 / AWS S3
django-storages[s3]
boto3

# Environment Variables
python-dotenv
